@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
:root{
    --dark:#000;
    --lightDark:rgb(10, 10, 10);
    --light:#fff;
    --primary:#d789dd;
    --danger:rgb(169, 17, 17);
    --succes:rgb(25, 179, 25);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--dark);
    color: var(--light);
    font-family: 'Raleway', sans-serif;
}

.lightModeEnabled{
    background-color: var(--light);
    color: var(--dark);
}

/* header */
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* dark mode */
.light-mode-container{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 15px;
    padding: 7px 0;
    background-color: var(--primary);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    color: var(--dark);
}

.light-mode-switch{
    justify-content: flex-end;
    color: var(--light);
}

.light-mode-container .fa-moon{
    font-size: .8rem;
    
}

.header h1{
    font-size: 4rem;
    text-transform: uppercase;
    margin-top: 15px;
}

.header .fa-book{
    color:var(--primary)
}

.header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* form */
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.form-container form{
    width: 60%;
    background-color: var(--primary);
    padding: 20px 40px;
    border-radius: 10px;
}
.form-container .form-group{
    display: flex;
    flex-direction: column;
}

.form-container .form-group input{
    padding: 10px 20px;
}

.form-container .submit{
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--dark);
    color: var(--light);
    border: none;
    outline: none;
}
.form-container .submit:hover{
    background-color: var(--lightDark);
    cursor: pointer;
}

/* table */
.table-container{
    width: 60%;
    margin: 50px auto;
    overflow-x: auto;
}

.table-container table{
    min-width: 600px;
    max-width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}
.table-container table th, .table-container table td{
    border: 1px solid var(--primary);
    padding: 10px;
    text-align: center;
}

.table-container .delete{
    background-color: var(--danger);
    padding: 10px 20px;
    color: var(--light);
    cursor: pointer;
}

.table-container .delete:hover{
    background-color: rgba(255,0,0,0.5);
}

/* alert */
.alert{
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    color:#fff;
}

.alert-success{
    background-color: green;
}
.alert-danger{
    background-color: red;
}

@media (max-width:520px){
    .header h1{
        font-size: 2rem;
    }
    .form-container{
        padding: 3px;
    }
    
    .form-container form{
        width: 95%;
        margin: 20px auto;
        padding: 10px 20px;
    }

    .table-container{
        width: 95%;
    }
}
